.subscribeButton {
  border: 0;
  width: 260px;
  height: 4rem;
  border-radius: 2rem;
  background: var(--yellow-500);
  color: var(--gray-900);
  transition: filter 0.2s;
  font-size: 1.25rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    filter: brightness(0.9);
  }
}
